
  <div *ngIf="match" class="container-fluid">
    <div class="app-wrapper">
      <div class="row no-gutters app-side-padding match-header-message top-buffer">
        <div class="col-sm-6 align-message-bottom">
          <span style="font-size: 2.5rem; font-weight: 500">Tic Tac Toe</span>
        </div>
        <div class="col-sm-6 text-right align-message-bottom">
          <span *ngIf="!match.playerTurnId">
            Waiting for opponent...
          </span>
          <span *ngIf="match.playerTurnId && match.playerTurnId === player.playerId">
            Your turn to play
          </span>
          <span *ngIf="match.playerTurnId && match.playerTurnId !== player.playerId">
            Your opponent's turn to play
          </span>
        </div>
      </div>

      <div class="row no-gutters top-buffer">
        <div class="col-6">
          <div style="height:50px; border-top: 1px solid gray; border-bottom: 1px solid gray;">
            <p style="line-height: 50px; padding-right: 5px; padding-left: 5px" [ngClass]="(match.playerOne && match.playerTurnId === match.playerOne.playerId) ? 'playerOne-turn' : ''">
              {{match.playerOne ? match.playerOne.name : ''}}
            </p>
          </div>
        </div>
        <div class="col-6 text-right">
          <div style="height:50px; border-top: 1px solid gray; border-bottom: 1px solid gray;">
            <p style="line-height: 50px; padding-right: 5px; padding-left: 5px" [ngClass]="(match.playerTwo && match.playerTurnId === match.playerTwo.playerId) ? 'playerTwo-turn' : ''">
              {{match.playerTwo ? match.playerTwo.name : ''}}
            </p>
          </div>
        </div>
      </div>

      <div class="row app-side-padding">
        <div class="col-12">
          <app-board [match]="match" [playerId]="player.playerId"></app-board>
        </div>
      </div>
    </div>    
  </div>
